<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="activity">
            <h2><span jhiTranslate="spingularApp.activity.detail.title">Activity</span> {{activity.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="spingularApp.activity.activityName">Activity Name</span></dt>
                <dd>
                    <span>{{activity.activityName}}</span>
                </dd>
                <dt><span jhiTranslate="spingularApp.activity.appuser">Appuser</span></dt>
                <dd>
                    <span *ngFor="let appuser of activity.appusers; let last = last">
                        <a [routerLink]="['/appuser', appuser?.id, 'view' ]">{{appuser.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <!-- <button type="button"
                    [routerLink]="['/activity', activity.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button> -->
        </div>
    </div>
</div>
