<div>
    <h2 id="page-heading">
        <span jhiTranslate="spingularApp.proposalVote.home.title">Proposal Votes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-proposal-vote" [routerLink]="['/proposal-vote/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="spingularApp.proposalVote.home.createLabel">
            Create a new Proposal Vote
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="proposalVotes?.length === 0">
        <span jhiTranslate="spingularApp.proposalVote.home.notFound">No proposalVotes found</span>
    </div>
    <div class="table-responsive" *ngIf="proposalVotes?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="creationDate"><span jhiTranslate="spingularApp.proposalVote.creationDate">Creation Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="votePoints"><span jhiTranslate="spingularApp.proposalVote.votePoints">Vote Points</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="appuserId"><span jhiTranslate="spingularApp.proposalVote.appuser">Appuser</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="proposalId"><span jhiTranslate="spingularApp.proposalVote.proposal">Proposal</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let proposalVote of proposalVotes ;trackBy: trackId">
                <td><a [routerLink]="['/proposal-vote', proposalVote.id, 'view' ]">{{proposalVote.id}}</a></td>
                <td>{{proposalVote.creationDate | date:'medium'}}</td>
                <td>{{proposalVote.votePoints}}</td>
                <td>
                    <div *ngIf="proposalVote.appuserId">
                        <a [routerLink]="['/appuser', proposalVote.appuserId , 'view' ]" >{{proposalVote.appuserId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="proposalVote.proposalId">
                        <a [routerLink]="['/proposal', proposalVote.proposalId , 'view' ]" >{{proposalVote.proposalId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/proposal-vote', proposalVote.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/proposal-vote', proposalVote.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/proposal-vote', { outlets: { popup: proposalVote.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="proposalVotes?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
