<div>
    <h2 id="page-heading">
        <span jhiTranslate="spingularApp.vanswer.home.title">Vanswers</span>
        <!-- <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-vanswer" [routerLink]="['/vanswer/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="spingularApp.vanswer.home.createLabel">
            Create a new Vanswer
            </span>
        </button> -->
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="vanswers?.length === 0">
        <span jhiTranslate="spingularApp.vanswer.home.notFound">No vanswers found</span>
    </div>
    <div class="table-responsive" *ngIf="vanswers?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="creationDate"><span jhiTranslate="spingularApp.vanswer.creationDate">Creation Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="urlVanswer"><span jhiTranslate="spingularApp.vanswer.urlVanswer">Url Vanswer</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="accepted"><span jhiTranslate="spingularApp.vanswer.accepted">Accepted</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="appuserId"><span jhiTranslate="spingularApp.vanswer.appuser">Appuser</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="vquestionId"><span jhiTranslate="spingularApp.vanswer.vquestion">Vquestion</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let vanswer of vanswers ;trackBy: trackId">
                <td><a [routerLink]="['/vanswer', vanswer.id, 'view' ]">{{vanswer.id}}</a></td>
                <td>{{vanswer.creationDate | date:'medium'}}</td>
                <td>{{vanswer.urlVanswer}}</td>
                <td>{{vanswer.accepted}}</td>
                <td>
                    <div *ngIf="vanswer.appuserId">
                        <a [routerLink]="['/appuser', vanswer.appuserId , 'view' ]" >{{vanswer.appuserId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="vanswer.vquestionId">
                        <a [routerLink]="['/vquestion', vanswer.vquestionId , 'view' ]" >{{vanswer.vquestionId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/vanswer', vanswer.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <!--
                        <button type="submit"
                                [routerLink]="['/vanswer', vanswer.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        -->
                        <button type="submit"
                                [routerLink]="['/vanswer', { outlets: { popup: vanswer.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="vanswers?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
