<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-comment-heading" jhiTranslate="spingularApp.comment.home.createOrEditLabel">Create or edit a Comment</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="spingularApp.comment.creationDate" for="field_creationDate">Creation Date</label>
                    <div class="d-flex">
                        <input id="field_creationDate" type="datetime-local" class="form-control" name="creationDate" formControlName="creationDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('creationDate').invalid && (editForm.get('creationDate').dirty || editForm.get('creationDate').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('creationDate').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('creationDate').errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="spingularApp.comment.commentText" for="field_commentText">Comment Text</label>
                    <input type="text" class="form-control" name="commentText" id="field_commentText"
                           formControlName="commentText"/>
                    <div *ngIf="editForm.get('commentText').invalid && (editForm.get('commentText').dirty || editForm.get('commentText').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('commentText').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('commentText').errors.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 2 }">
                        This field is required to be at least 2 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('commentText').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 65000 }">
                        This field cannot be longer than 65000 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="spingularApp.comment.isOffensive" for="field_isOffensive">Is Offensive</label>
                    <input type="checkbox" class="form-control" name="isOffensive" id="field_isOffensive"
                           formControlName="isOffensive"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="spingularApp.comment.appuser" for="field_appuser">Appuser</label>
                    <select class="form-control" id="field_appuser" name="appuser" formControlName="appuserId">
                        <option *ngIf="!editForm.get('appuserId').value" [ngValue]="null" selected></option>
                        <option [ngValue]="appuserOption.id" *ngFor="let appuserOption of appusers; trackBy: trackAppuserById">{{appuserOption.id}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('appuserId').invalid && (editForm.get('appuserId').dirty || editForm.get('appuserId').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('appuserId').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="spingularApp.comment.post" for="field_post">Post</label>
                    <select class="form-control" id="field_post" name="post" formControlName="postId">
                        <option *ngIf="!editForm.get('postId').value" [ngValue]="null" selected></option>
                        <option [ngValue]="postOption.id" *ngFor="let postOption of posts; trackBy: trackPostById">{{postOption.id}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('postId').invalid && (editForm.get('postId').dirty || editForm.get('postId').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('postId').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
