<section class="g-mb-100">
    <div class="container">
      <div class="row">
        <!-- Profle Content -->
        <div class="col-lg-9">
          <!-- User Block -->
          <div class="g-brd-around g-brd-gray-light-v4 g-pa-20 g-mb-40">
            <h2 class="g-font-weight-300 g-mr-10">Spingular's Team Jhipster v6.4.0</h2>
 
            <div class="row">
                <div class="col-lg-4 g-mb-40 g-mb-0--lg">
                    <!-- User Image -->
                    <div class="g-mb-20">
                    <!-- <img class="img-fluid w-100" src="../../assets/img-temp/400x450/img5.jpg" alt="Image Description"> -->
                    </div>
                    <!-- User Image -->
                    <h2 class="g-font-weight-300 g-mr-10">Team Guru</h2>
                </div>
                <div class="col-lg-8">
                    <!-- User Details -->
                    <div class="d-flex align-items-center justify-content-sm-between g-mb-5">
                    <h2 class="g-font-weight-300 g-mr-10">
                        <a href="https://github.com/ruddell">
                        Jon Ruddell
                        </a>
                    </h2>
                    <ul class="list-inline mb-0">
                        <!-- 
                        <li class="list-inline-item g-mx-2">
                        <a class="u-icon-v1 u-icon-size--sm u-icon-slide-up--hover g-color-gray-light-v1 g-bg-gray-light-v5 g-color-gray-light-v1--hover rounded-circle" href="#!">
                            <i class="g-font-size-default g-line-height-1 u-icon__elem-regular fa fa-facebook"></i>
                            <i class="g-font-size-default g-line-height-0_8 u-icon__elem-hover fa fa-facebook"></i>
                        </a>
                        </li>
                        -->
                        <li class="list-inline-item g-mx-2">
                        <a class="u-icon-v1 u-icon-size--sm u-icon-slide-up--hover g-color-gray-light-v1 g-bg-gray-light-v5 g-color-gray-light-v1--hover rounded-circle" href="https://twitter.com/jonruddell">
                            <i class="g-font-size-default g-line-height-1 u-icon__elem-regular fa fa-twitter"></i>
                            <i class="g-font-size-default g-line-height-0_8 u-icon__elem-hover fa fa-twitter"></i>
                        </a>
                        </li>
                        <!-- 
                        <li class="list-inline-item g-mx-2">
                        <a class="u-icon-v1 u-icon-size--sm u-icon-slide-up--hover g-color-gray-light-v1 g-bg-gray-light-v5 g-color-gray-light-v1--hover rounded-circle" href="#!">
                            <i class="g-font-size-default g-line-height-1 u-icon__elem-regular fa fa-dribbble"></i>
                            <i class="g-font-size-default g-line-height-0_8 u-icon__elem-hover fa fa-dribbble"></i>
                        </a>
                        </li>
                        -->
                        <li class="list-inline-item g-mx-2">
                        <a class="u-icon-v1 u-icon-size--sm u-icon-slide-up--hover g-color-gray-light-v1 g-bg-gray-light-v5 g-color-gray-light-v1--hover rounded-circle" href="https://www.linkedin.com/in/jon-ruddell-97ba1363/">
                            <i class="g-font-size-default g-line-height-1 u-icon__elem-regular fa fa-linkedin"></i>
                            <i class="g-font-size-default g-line-height-0_8 u-icon__elem-hover fa fa-linkedin"></i>
                        </a>
                        </li>
                    </ul>
                    </div>
                    <!-- End User Details -->

                    <!-- User Position --
                    <h4 class="h6 g-font-weight-300 g-mb-10">
                        <i class="icon-badge g-pos-rel g-top-1 g-mr-5 g-color-gray-dark-v5"></i> Project Manager at Pixeel Ltd.
                    </h4>
                    -- End User Position -->

                    <!-- User Info -->
                    <ul class="list-inline g-font-weight-300">
                    <li class="list-inline-item g-mr-20">
                        <i class="icon-location-pin g-pos-rel g-top-1 g-color-gray-dark-v5 g-mr-5"></i> Los Angeles, CA, US
                    </li>
                    <li class="list-inline-item g-mr-20">
                        <i class="icon-link g-pos-rel g-top-1 g-color-gray-dark-v5 g-mr-5"></i>  <a class="g-color-main g-color-primary--hover" href="https://sportsbooth.tv">Sportsbooth.tv</a>
                    </li>
                    </ul>
                    <!-- End User Info -->

                </div>
            </div>

            <div class="row">
              <div class="col-lg-4 g-mb-40 g-mb-0--lg">
                <!-- User Image -->
                <div class="g-mb-20">
                  <!-- <img class="img-fluid w-100" src="../../assets/img-temp/400x450/img5.jpg" alt="Image Description"> -->
                </div>
                <!-- User Image -->
                <h2 class="g-font-weight-300 g-mr-10">Development Team</h2>
              </div>
              <div class="col-lg-8">
                <!-- User Details -->
                <div class="d-flex align-items-center justify-content-sm-between g-mb-5">
                  <h2 class="g-font-weight-300 g-mr-10">
                      <a href="https://github.com/cchunduri">
                      Chaitanya Chunduri
                      </a>
                  </h2>
                  <ul class="list-inline mb-0">
                    <!-- 
                    <li class="list-inline-item g-mx-2">
                      <a class="u-icon-v1 u-icon-size--sm u-icon-slide-up--hover g-color-gray-light-v1 g-bg-gray-light-v5 g-color-gray-light-v1--hover rounded-circle" href="#!">
                        <i class="g-font-size-default g-line-height-1 u-icon__elem-regular fa fa-facebook"></i>
                        <i class="g-font-size-default g-line-height-0_8 u-icon__elem-hover fa fa-facebook"></i>
                      </a>
                    </li>
                     -->
                    <li class="list-inline-item g-mx-2">
                      <a class="u-icon-v1 u-icon-size--sm u-icon-slide-up--hover g-color-gray-light-v1 g-bg-gray-light-v5 g-color-gray-light-v1--hover rounded-circle" href="https://twitter.com/chchunduri">
                        <i class="g-font-size-default g-line-height-1 u-icon__elem-regular fa fa-twitter"></i>
                        <i class="g-font-size-default g-line-height-0_8 u-icon__elem-hover fa fa-twitter"></i>
                      </a>
                    </li>
                    <!-- 
                    <li class="list-inline-item g-mx-2">
                      <a class="u-icon-v1 u-icon-size--sm u-icon-slide-up--hover g-color-gray-light-v1 g-bg-gray-light-v5 g-color-gray-light-v1--hover rounded-circle" href="#!">
                        <i class="g-font-size-default g-line-height-1 u-icon__elem-regular fa fa-dribbble"></i>
                        <i class="g-font-size-default g-line-height-0_8 u-icon__elem-hover fa fa-dribbble"></i>
                      </a>
                    </li>
                     -->
                    <li class="list-inline-item g-mx-2">
                      <a class="u-icon-v1 u-icon-size--sm u-icon-slide-up--hover g-color-gray-light-v1 g-bg-gray-light-v5 g-color-gray-light-v1--hover rounded-circle" href="https://www.linkedin.com/in/chaitanyachunduri/">
                        <i class="g-font-size-default g-line-height-1 u-icon__elem-regular fa fa-linkedin"></i>
                        <i class="g-font-size-default g-line-height-0_8 u-icon__elem-hover fa fa-linkedin"></i>
                      </a>
                    </li>
                  </ul>
                </div>
                <!-- End User Details -->

                <!-- User Position --
                <h4 class="h6 g-font-weight-300 g-mb-10">
                    <i class="icon-badge g-pos-rel g-top-1 g-mr-5 g-color-gray-dark-v5"></i> Project Manager at Pixeel Ltd.
                  </h4>
                -- End User Position -->

                <!-- User Info -->
                <ul class="list-inline g-font-weight-300">
                  <li class="list-inline-item g-mr-20">
                    <i class="icon-location-pin g-pos-rel g-top-1 g-color-gray-dark-v5 g-mr-5"></i> Hyderabad, India
                  </li>
                  <li class="list-inline-item g-mr-20">
                    <i class="icon-link g-pos-rel g-top-1 g-color-gray-dark-v5 g-mr-5"></i>  <a class="g-color-main g-color-primary--hover" href="https://github.com/cchunduri">GitHub</a>
                  </li>
                </ul>
                <!-- End User Info -->

              </div>
            </div>
            
            <div class="row">
              <div class="col-lg-4 g-mb-40 g-mb-0--lg">
                <!-- User Image -->
                <div class="g-mb-20">
                  <!-- <img class="img-fluid w-100" src="../../assets/img-temp/400x450/img5.jpg" alt="Image Description"> -->
                </div>
                <!-- User Image -->
                <h2 class="g-font-weight-300 g-mr-10">Development Team</h2>
              </div>
              <div class="col-lg-8">
                <!-- User Details -->
                <div class="d-flex align-items-center justify-content-sm-between g-mb-5">
                  <h2 class="g-font-weight-300 g-mr-10">
                      <a href="https://github.com/Goldilakhmani">
                      Goldi Lakhmani
                      </a>
                  </h2>
                  <ul class="list-inline mb-0">
                    <!-- 
                    <li class="list-inline-item g-mx-2">
                      <a class="u-icon-v1 u-icon-size--sm u-icon-slide-up--hover g-color-gray-light-v1 g-bg-gray-light-v5 g-color-gray-light-v1--hover rounded-circle" href="#!">
                        <i class="g-font-size-default g-line-height-1 u-icon__elem-regular fa fa-facebook"></i>
                        <i class="g-font-size-default g-line-height-0_8 u-icon__elem-hover fa fa-facebook"></i>
                      </a>
                    </li>
                     -->
                    <li class="list-inline-item g-mx-2">
                      <a class="u-icon-v1 u-icon-size--sm u-icon-slide-up--hover g-color-gray-light-v1 g-bg-gray-light-v5 g-color-gray-light-v1--hover rounded-circle" href="https://twitter.com/GoldiLakhmani">
                        <i class="g-font-size-default g-line-height-1 u-icon__elem-regular fa fa-twitter"></i>
                        <i class="g-font-size-default g-line-height-0_8 u-icon__elem-hover fa fa-twitter"></i>
                      </a>
                    </li>
                    <!-- 
                    <li class="list-inline-item g-mx-2">
                      <a class="u-icon-v1 u-icon-size--sm u-icon-slide-up--hover g-color-gray-light-v1 g-bg-gray-light-v5 g-color-gray-light-v1--hover rounded-circle" href="#!">
                        <i class="g-font-size-default g-line-height-1 u-icon__elem-regular fa fa-dribbble"></i>
                        <i class="g-font-size-default g-line-height-0_8 u-icon__elem-hover fa fa-dribbble"></i>
                      </a>
                    </li>
                     -->
                    <li class="list-inline-item g-mx-2">
                      <a class="u-icon-v1 u-icon-size--sm u-icon-slide-up--hover g-color-gray-light-v1 g-bg-gray-light-v5 g-color-gray-light-v1--hover rounded-circle" href="https://linkedin.com/in/goldi-lakhmani-b166976b">
                        <i class="g-font-size-default g-line-height-1 u-icon__elem-regular fa fa-linkedin"></i>
                        <i class="g-font-size-default g-line-height-0_8 u-icon__elem-hover fa fa-linkedin"></i>
                      </a>
                    </li>
                  </ul>
                </div>
                <!-- End User Details -->

                <!-- User Position --
                <h4 class="h6 g-font-weight-300 g-mb-10">
                    <i class="icon-badge g-pos-rel g-top-1 g-mr-5 g-color-gray-dark-v5"></i> Project Manager at Pixeel Ltd.
                  </h4>
                -- End User Position -->

                <!-- User Info -->
                <ul class="list-inline g-font-weight-300">
                  <li class="list-inline-item g-mr-20">
                    <i class="icon-location-pin g-pos-rel g-top-1 g-color-gray-dark-v5 g-mr-5"></i> Bangalore, India
                  </li>
                  <li class="list-inline-item g-mr-20">
                    <i class="icon-link g-pos-rel g-top-1 g-color-gray-dark-v5 g-mr-5"></i>  <a class="g-color-main g-color-primary--hover" href="https://github.com/Goldilakhmani">Github</a>
                  </li>
                </ul>
                <!-- End User Info -->

              </div>
            </div>
            
                          
            <div class="row">
              <div class="col-lg-4 g-mb-40 g-mb-0--lg">
                <!-- User Image -->
                <div class="g-mb-20">
                  <!-- <img class="img-fluid w-100" src="../../assets/img-temp/400x450/img5.jpg" alt="Image Description"> -->
                </div>
                <!-- User Image -->
                <h2 class="g-font-weight-300 g-mr-10">Spingular Project Founder</h2>
              </div>
              <div class="col-lg-8">
                <!-- User Details -->
                <div class="d-flex align-items-center justify-content-sm-between g-mb-5">
                  <h2 class="g-font-weight-300 g-mr-10">
                      <a href="https://www.spingular.com/#/uprofile/5/view">
                      Mike
                      </a>
                  </h2>
                  <ul class="list-inline mb-0">
                    <!-- 
                    <li class="list-inline-item g-mx-2">
                      <a class="u-icon-v1 u-icon-size--sm u-icon-slide-up--hover g-color-gray-light-v1 g-bg-gray-light-v5 g-color-gray-light-v1--hover rounded-circle" href="#!">
                        <i class="g-font-size-default g-line-height-1 u-icon__elem-regular fa fa-facebook"></i>
                        <i class="g-font-size-default g-line-height-0_8 u-icon__elem-hover fa fa-facebook"></i>
                      </a>
                    </li>
                     -->
                    <li class="list-inline-item g-mx-2">
                      <a class="u-icon-v1 u-icon-size--sm u-icon-slide-up--hover g-color-gray-light-v1 g-bg-gray-light-v5 g-color-gray-light-v1--hover rounded-circle" href="https://twitter.com/spingularpress">
                        <i class="g-font-size-default g-line-height-1 u-icon__elem-regular fa fa-twitter"></i>
                        <i class="g-font-size-default g-line-height-0_8 u-icon__elem-hover fa fa-twitter"></i>
                      </a>
                    </li>
                    <!-- 
                    <li class="list-inline-item g-mx-2">
                      <a class="u-icon-v1 u-icon-size--sm u-icon-slide-up--hover g-color-gray-light-v1 g-bg-gray-light-v5 g-color-gray-light-v1--hover rounded-circle" href="#!">
                        <i class="g-font-size-default g-line-height-1 u-icon__elem-regular fa fa-dribbble"></i>
                        <i class="g-font-size-default g-line-height-0_8 u-icon__elem-hover fa fa-dribbble"></i>
                      </a>
                    </li>
                    <li class="list-inline-item g-mx-2">
                      <a class="u-icon-v1 u-icon-size--sm u-icon-slide-up--hover g-color-gray-light-v1 g-bg-gray-light-v5 g-color-gray-light-v1--hover rounded-circle" href="https://www.linkedin.com/in/goldi-lakhmani-b166976b">
                        <i class="g-font-size-default g-line-height-1 u-icon__elem-regular fa fa-linkedin"></i>
                        <i class="g-font-size-default g-line-height-0_8 u-icon__elem-hover fa fa-linkedin"></i>
                      </a>
                    </li>
                     -->
                  </ul>
                </div>
                <!-- End User Details -->

                <!-- User Position -->
                <h4 class="h6 g-font-weight-300 g-mb-10">
                    <i class="icon-badge g-pos-rel g-top-1 g-mr-5 g-color-gray-dark-v5"></i> Spingular Project Founder
                  </h4>
                <!-- End User Position -->

                <!-- User Info -->
                <ul class="list-inline g-font-weight-300">
                  <li class="list-inline-item g-mr-20">
                    <i class="icon-location-pin g-pos-rel g-top-1 g-color-gray-dark-v5 g-mr-5"></i> Madrid, Spain
                  </li>
                  <li class="list-inline-item g-mr-20">
                    <i class="icon-link g-pos-rel g-top-1 g-color-gray-dark-v5 g-mr-5"></i>  <a class="g-color-main g-color-primary--hover" href="https://www.spingular.com/#/">Spingular.com</a>
                  </li>
                </ul>
                <!-- End User Info -->

              </div>
            </div>
            
          </div>
          <!-- End User Block -->

        </div>
        <!-- End Profle Content -->
      </div>
    </div>
  </section>