<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-tag-heading" jhiTranslate="spingularApp.tag.home.createOrEditLabel">Create or edit a Tag</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="spingularApp.tag.tagName" for="field_tagName">Tag Name</label>
                    <input type="text" class="form-control" name="tagName" id="field_tagName"
                           formControlName="tagName"/>
                    <div *ngIf="editForm.get('tagName').invalid && (editForm.get('tagName').dirty || editForm.get('tagName').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('tagName').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('tagName').errors.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 2 }">
                        This field is required to be at least 2 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('tagName').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 40 }">
                        This field cannot be longer than 40 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label jhiTranslate="spingularApp.tag.post" for="field_posts">Post</label>
                    <select class="form-control" id="field_posts" multiple name="posts" formControlName="posts">
                        <option [ngValue]="getSelected(editForm.get('posts').value, postOption)" *ngFor="let postOption of posts; trackBy: trackPostById">{{postOption.headline}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
